# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.git\
.vs\
Debug\
x64\
*.db
*.db-shm
*.db-wal
*.opendb
.vs/suck/v16/.suo
*.ipch
*.tlog
*.recipe
*.ilk
*.pdb
*.res
*.log
*.txt
*.idb
*.sln
Debug/RCa03668
Debug/RCa11164
Debug/Docs/README.md
Debug/Docs/termcolorlib-LICENSE
*.ini
*.zip
*.iobj
*.iobj
.vs/Gamebryo Converter/v16/.suo
Gamebryo Converter/Gamebryo Converter.vcxproj.user
