<Config>
	<!--How many digits to display after the decimal point-->
	<Setting name="precision" value="6"></Setting>
	<!--Conversion Factor used for Metric<->Imperial conversions-->
	<Setting name="factor_mi" value="0.304800609601219185673670608593965880572795867919921875"></Setting>
	<!--Conversion Factor used for Gamebryo<->Metric conversions-->
	<Setting name="factor_um" value="0.01428753125000000075150996536876846221275627613067626953125"></Setting>
	<!--Conversion Factor used for Gamebryo<->Imperial conversions-->
	<Setting name="factor_ui" value="0.046875"></Setting>
</Config>